
<div class="add-to-tour-overlay" v-transition>
    <h4>Add to My Tour</h4>


    <ul>
        <li v-repeat="myTours" v-on="click: toggleTourSelection(id)">
            <div class="add-tour-checkbox"></div>
            <div v-show="tourIsSelected(id)" class="add-tour-checkmark"></div>
            <div class="tour-icon"></div>
            <div class="add-to-tour-title">{{title}}</div>
        </li>
    </ul>


    <a v-on="click: cancel($event)" class="btn tour-form-buttom" type="reset">Cancel</a>
    <a v-on="click: add($event)" class="btn tour-form-buttom" type="submit">Add</a>

</div>
