<div class="help-screen" v-transition>

  <header class="bar bar-nav">
    <a href="#/back" class="icon icon-left-nav pull-left back-button"></a>
    <a href="#/search" class="icon icon-search pull-right back-button"></a>
    <a href="#/home" class="header-logo"></a>
  </header>

  <nav class="bar bar-standard bar-footer">

  </nav>

  <div class="content">
    <img src="img/logo.png" class="help-logo"
      style="
        width: 320px;
        height: 240px;
        position: absolute;
      "
    />

    <p style="padding: 44px;margin-top: 180px;">
Use this app to find Iowa’s arts, history and culture. EXPLORE locations by category, see what’s NEAR ME, save locations together to create MY TOURS, and discover FEATURED locations across the state. Post selfies when you visit using #IowaCulture!
    </p>

    <p style="padding: 44px ">
      <a href="http://iowacultureapp.com" target="_system">iowacultureapp.com</a>
    <p>

  </div>

  </div>
</div>


