<div class="home-screen" v-transition>

  <header class="bar bar-nav">
    <a href="#home" class="header-logo"></a>
  </header>

  <nav class="bar bar-tab">
  <a class="help" href="#help">
  </a>
  </nav>


  <div class="content">
  
    
   <div class="btn-layout">
    <a href="#/explore" class="btn-explore"></a>
    <a href="#/nearme" class="btn-nearme"></a>
  </div>
   <div class="btn-layout">
    <a href="#/back" class="btn-tours"></a>
    <a href="#/location/52ffb7e6df2d9fc64b000002" class="btn-featured"></a>
  </div>

   <div class="share-layout">
    <div class="sharing">
      <div class="share-title"></div>
      <div class="share-buttons">
        <a class="email"></a>
        <a class="facebook"></a>
        <a class="twitter"></a>
      </div>
    </div>
  </div>

  </div>

</div>
