<div class="limit-location-screen" v-transition>

    <header class="bar bar-nav">
        <a href="#/back" class="icon icon-left-nav pull-left back-button"></a>
        <a href="#/search" class="icon icon-search pull-right back-button"></a>
        <a href="#/home" class="header-logo"></a>
    </header>

    <nav class="bar bar-tab">
        <div class="view-places-button" v-on="click: showSearchResults()"></div>
    </nav>


    <div class="content">

        <div class="use-current-location" v-on="click: showNearbySearchResults()"></div>
        <div class="limit-search-location">
            <input type="text" name="search-location" placeholder="Locate by city, or county" v-model="query"
            v-on="
                blur: showQuerySearchResults($event),
                keyup: showQuerySearchResults($event) | key enter
            ">
            </input>
            <button class="limit-location-search-btn" v-on="click: showQuerySearchResults($event)" class="btn pull-right"></button>
        </div>

           <img v-show="showSpinner" class="spinner" src="./img/loading.gif">

    </div>
</div>


