<div class="explore-screen" v-transition>

  <header class="bar bar-nav">
    <a href="#/back" class="icon icon-left-nav pull-left back-button"></a>
    <a href="#/search" class="icon icon-search pull-right back-button"></a>
    <a href="#/home" class="header-logo"></a>
  </header>     

  <nav class="bar bar-tab">
    <a href="#/help" >
      <div class="help"></div>
    </a>
  </nav>

  <div class="content">

    <ul class="table-view">
      <li v-repeat="searchResults" class="table-view-cell">
      <a class="navigate-right" href="#/location/{{properties._id}}">
        {{properties.title}}
      </a>
      </li>
    </ul>

  </div>
</div>
