<div class="location-list-screen" v-transition>

    <header class="bar bar-nav">
        <a href="#/back" class="icon icon-left-nav pull-left back-button"></a>
        <a href="#/search" class="icon icon-search pull-right back-button"></a>
        <a href="#/home" class="header-logo"></a>
    </header>     

    <nav class="bar bar-tab">
      <div class="toggle-list2map" v-on="click: showInMapView()"></div>
  </nav>

      <div class="screen-menu">
        <div v-component="screenMenuTabs" class="screen-menu-tabs" v-show="currentScreen != 'home' " v-transition></div>
    </div>


    <div class="content">

        <ul class="table-view">
            <li v-repeat="searchResults" class="table-view-cell">
                <a href="#/location/{{properties._id}}">
                    {{properties.title}}
                </a>
                <div class="table-cell-plus-icon" v-on="click: addToTour(properties._id)"></div>
                <img class="table-cell-marker" src="{{properties.icon.iconUrl}}">
    
            </li>
        </ul>

    </div>



    <add-to-tour-overlay v-if="showAddToTour" ></add-tour-overlay>

</div>
