<div class="location-screen" v-transition>

  <header class="bar bar-nav">
    <a href="#/back" class="icon icon-left-nav pull-left back-button"></a>
    <a href="#/search" class="icon icon-search pull-right back-button"></a>
    <a href="#/home" class="header-logo"></a>
  </header>     

  <nav class="bar bar-standard bar-footer">
    <a class="glyphicons white dislikes pull-left"></a>
    <a class="glyphicons white direction pull-right"></a>
  </nav>


  <div class="content">
    <div class="map-widget"></div>
  </div>


</div>


