<div class="location-screen" v-transition>

  <header class="bar bar-nav">
    <a href="#/back" class="glyphicons white chevron-left  pull-left"></a>
    <a href="#/search" class="glyphicons white search pull-right"></a>
    <a href="#/home" class="header-logo"></a>   
  </header>

  <nav class="bar bar-standard bar-footer">
    <a class="glyphicons white dislikes pull-left"></a>
    <a class="glyphicons white direction pull-right"></a>
  </nav>

  <div class="content">
    <div id="map"></div>
  </div>


</div>


