<div class="location-screen" v-transition>

  <header class="bar bar-nav">
    <a href="#/back" class="icon icon-left-nav pull-left back-button"></a>
    <a href="#/search" class="icon icon-search pull-right back-button"></a>
    <a href="#/home" class="header-logo"></a>
  </header>

  <nav class="bar bar-standard bar-footer">
      <div class="toggle-map2list" v-on="click: showInListView()"></div>
  </nav>

    <div class="screen-menu">
        <div v-component="screenMenuTabs" class="screen-menu-tabs" v-show="currentScreen != 'home' " v-transition></div>
    </div>



  <div class="content">
    <div class="map-widget"></div>
  </div>


</div>


