<div class="search-screen" v-transition>

  <header class="bar bar-nav">
    <a href="#/back" class="icon icon-left-nav pull-left back-button"></a>
    <a href="#/search" class="icon icon-search pull-right back-button"></a>
    <a href="#/home" class="header-logo"></a>
  </header>

  <nav class="bar bar-standard bar-footer">
    <a class="glyphicons white dislikes pull-left"></a>
    <a class="glyphicons white direction pull-right"></a>
  </nav>

  <div class="content">
    <img src="img/search-input.png" class="search-bg"/>
    <input type="text" v-model="query" class="form-control search-input"
      v-on="
        blur: doSearchBlur($event),
        keyup: doSearchKey($event) | key enter
      "

      style="
        background-color: #e7e1d5;
        color: #7c6f63;
        top: 88px;
        left: 20px;
        border-radius: 0px;
        height: 45px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        width: 220px;
      "
    >
    <button  class="btn pull-right">Search</button>
    <!--<button class="btn btn_search"><span class="icon icon-search"></span></button>-->
    <img v-show="showSpinner" class="spinner" src="./img/loading.gif">
  </div>

  </div>
</div>


