<div class="suggest-a-place-screen" v-transition>

    <header class="bar bar-nav">
        <a href="#/back" class="icon icon-left-nav pull-left back-button"></a>
        <a href="#/home" class="header-logo"></a>
    </header> 

    <nav class="bar bar-tab">
        <div class="submit-suggestion-button" v-on="click: submitSuggestion()"></div>
    </nav>

        <div class="screen-menu">
        <div v-component="screenMenuTabs" class="screen-menu-tabs" v-show="currentScreen != 'home' " v-transition></div>
    </div>


    <div class="content">
    
        <div class="suggest-a-place-form"></div>
        <input id="input-title" type="text"></input>
        <input id="input-address" type="text"></input>
        <input id="input-city" type="text"></input>
        <input id="input-zip" type="text"></input>
        <input id="input-submitter" type="text"></input>


    </div>
</div>


