<div class="mytours-screen" v-transition>

    <header class="bar bar-nav">
        <a href="#/back" class="icon icon-left-nav pull-left back-button"></a>
        <a v-on="click: createTour" class="icon icon-plus pull-right back-button"></a>
        <a href="#/home" class="header-logo"></a>
    </header> 

    <nav class="bar bar-tab">
        <a href="#/help" >
            <div class="help"></div>
        </a>
        


    </nav>


    <div class="content">

        <ul class="table-view">

            <li class="table-view-cell">
                <a class="navigate-right" href="#/tours/favorites}}">
                    Favorites
                </a>
            </li>

            <li v-repeat="myTours" class="table-view-cell">
                    Tour Name
            </li>






        </ul>

    </div>
</div>


