<div class="mytours-screen tour-list-screen " v-transition>

    <header class="bar bar-nav">
        <a href="#/back" class="icon icon-left-nav pull-left back-button"></a>
        <a href="#/home" class="header-logo"></a>
    </header>     

    <nav class="bar bar-tab">
      <div class="toggle-list2map" v-on="click: showInMapView()"></div>
      <div class="sort-button" v-on="click: showSortMenu()"></div>
  </nav>

      <div class="screen-menu">
        <div v-component="screenMenuTabs" class="screen-menu-tabs" v-show="currentScreen != 'home' " v-transition></div>
    </div>


    <div class="content">

        <ul class="table-view">
             <li class="table-view-cell" style="background-color: #cfc5b7; font-weight: 600">
                 <img v-attr="src: 'img/tours/' + tourContext.color.replace('#', '') +'.png'" >
                {{tourContext.title}}
            </li>



            <li v-repeat="tourContext.places" class="table-view-cell tour-item-cell" 
                v-on="click: showDetailView(this.$data, $ev)">
                {{properties.title}} 
                <img class="table-cell-marker" src="{{properties.icon.iconUrl}}">
                <div class="distance-text">{{ (_distance * 0.000621371).toFixed(1)}}mi</div>
            </li>
        </ul>

    </div>




</div>
