<div class="mytours-screen" v-transition>

    <header class="bar bar-nav">
        <a href="#/back" class="icon icon-left-nav pull-left back-button"></a>
        <a v-on="click: createTour" class="icon icon-plus pull-right back-button"></a>
        <a href="#/home" class="header-logo"></a>
    </header> 

    <nav class="bar bar-tab">
        <a href="#/help" >
            <div class="help"></div>
        </a>
    </nav>


    <div class="screen-menu">
        <div v-component="screenMenuTabs" class="screen-menu-tabs" v-show="currentScreen != 'home' " v-transition></div>
    </div>



    <div class="content">
        <ul class="table-view">
            <li v-repeat="myTours" class="table-view-cell navigate-right" v-on="click: showTour(id)" >
                <img v-attr="src: 'img/tours/' + color.replace('#', '') +'.png'" >
                {{title}}
            </li>
            <li class="table-view-cell" style="font-style:italic">
                <img v-attr="src: 'img/tours/create.png'" style="width:43px; padding-left: 5px" >
                Create Tour
            </li>

        </ul>
    </div>

    <add-tour-overlay v-if="showCreateTour" ></add-tour-overlay>

</div>

