@require 'lib/mixins.styl'
@require 'lib/css/ratchet.css'
@require 'lib/css/glyphicons.css'

@require 'lib/leaflet/leaflet.usermarker.css'


*
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-family: 'Open Sans', sans-serif;


._
    background-color: rgba(255,0,0, 0.3);
    border: 1px solid green;


input[type="text"] {
    -webkit-user-select: text;
}

.dca-marker
    opacity: 0.0;
    transition: opacity 1s;

.dca-marker.marker-fade-in
    opacity: 1.0;


.app-screen
  position: absolute;
  top: 0;
  z-index:0;
  //transition: transform 0.6s ease-out, opacity 1s;
  //transform: translateX(0);
  //opacity: 1.0
  //&.v-leave
  //    transform: translateX(-200px);
  //    opacity: 0.0
  //&.v-enter
  //  transform: translateX(320px);
  //  opacity: 1.0


.app-screen > div
    z-index: 0;


body.phonegap-ios-7
  margin-top: 20px;


#app
  background-color: #000;
  position: absolute;
  top:0;
  left:0;
  size: 100% 100%
  &> div
    size: 100% 100%

.content
  background-color: #eeece3 //#F0EEE5


.bar
  background-color: #4D4D4F
  a
    color: #fff

.back-button
  min-width: 45px;
  min-height: 45px;
  padding-left: 10px;
  margin-left:-10px;

.header-logo
  img: "img/title.png"
  center-both()

.glyphicons:before
  font-size: 24px
  position: relative

.glyphicons
  padding: 0
  padding-top: 10px


.screen-menu
    position: fixed;
    height: 44px;
    width: 100%;
    top: 44px;
    z-index: 5;
    overflow: hidden;

.screen-menu > .screen-menu-tabs
    position: absolute;
    top: 0px;
    height: 43px;
    width: 100%
    background-color: #7c6f62;
    z-index: 5;
    transition: all 0.5s ease-out;
    transition-delay: 0.5s;
    transform: translate3D(0,0,0);
    opacity: 1.0;

    &.v-enter
        transform: translate3d(0,-44px,0);
        opacity: 0.5;
    &.v-leave
        transform: translate3d(0,-44px,0);
        opacity: 0.5;


    .tab
        display: block;
        position: absolute;
        top:0;
        background-image: url("img/nav/home.png");
        background-size:contain;
        background-repeat: no-repeat;
        width: 80px;
        height: 44px;
        z-index: 6;

    .tab-home
        left: 0;
        background-image: url("img/nav/home.png");
        background-size:contain;
        background-repeat: no-repeat;

        &.tab-active
            background-image: url("img/nav/home-down.png");
        &:hover
            background-image: url("img/nav/home-down.png");
        &:active
            background-image: url("img/nav/home-down.png");


    .tab-explore
        left: 80px;
        background-image: url("img/nav/explore.png");
        background-size:contain;
        background-repeat: no-repeat;
        &.tab-active
            background-image: url("img/nav/explore-down.png");
        &:hover
            background-image: url("img/nav/explore-down.png");
        &:active
            background-image: url("img/nav/explore-down.png");

    .tab-tours
        left: 160px;
        background-image: url("img/nav/tours.png");
        background-size:contain;
        background-repeat: no-repeat;
        &.tab-active
            background-image: url("img/nav/tours-down.png");
        &:hover
            background-image: url("img/nav/tours-down.png");
        &:active
            background-image: url("img/nav/tours-down.png");

    .tab-featured
        left: 240px;
        background-image: url("img/nav/featured.png");
        background-size:contain;
        background-repeat: no-repeat;
        &.tab-active
            background-image: url("img/nav/featured-down.png");
        &:hover
            background-image: url("img/nav/featured-down.png");
        &:active
            background-image: url("img/nav/featured-down.png");





// ========================================
// HOME SCREEN
// ========================================

.home-screen


  .content
    //column with buttons on top, share box on bottom
    padding-top: 60px
    display:flex;
    flex-flow: column
    align-items: stretch;
    justify-content: stretch;


  .btn-layout
    padding-top: 10px
    display:flex;
    flex-flow: row
    justify-content: space-around;


  .btn-explore
    img: "img/home/explore.png"
  .btn-nearme
    img: "img/home/nearme.png"
  .btn-tours
    img: "img/home/mytours.png"
  .btn-featured
    img: "img/home/featured.png"



  .share-layout
    flex: auto
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px

  .sharing
    background-color: #FDFCF9
    border-radius: 10px
    padding: 10px


    .share-title
      img: 'img/home/share-title.png'

    .share-buttons
      padding-top: 5px
      display:flex
      align-items: center
      justify-content: space-around

      .email
        img-btn: 'img/home/email.png'
      .facebook
        img-btn: 'img/home/facebook.png'
      .twitter
        img-btn: 'img/home/twitter.png'



  //bottom bar
  nav
    .help
      img: "img/help.png"
      relative: top 8px
      margin: auto



// ========================================
// LIST SCREEN
// ========================================

.location-list-screen
  transition: all 1s
  opacity: 1.0

  .content
     padding-top: 88px;
  //&.v-leave
  //  opacity: 0.0
  //&.v-enter
  //  opacity: 0.0

  li
    position: relative

  .table-view-divider
    height: 44px
    padding-top:10px

  .table-view-cell
    font-size: 13px
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px;
    padding-top: 10px;
    padding-left: 1em
    transition: all 0.3s ease;
    opacity: 1.0
    height: 40px;
    position: relative;
    color: #666
    background-color: #eeece2;

    a
        margin-left: 10px;
        text-overflow: ellipsis;
        max-width: 230px;

    .distance-text
        position: absolute;
        right: 30px;
        top: 10px;
        font-size: 11px;
        opacity: .3;


    .table-cell-plus-icon
        background-image: url("img/plus-icon.png")
        background-size: contain;
        position: absolute;
        right: -5px;
        top:0;
        height: 40px;
        width: 40px;

    .table-cell-marker
        position: absolute
        height: 25px;
        left:3px;
        top:7px;;



    &.hide
      height: 0;
      padding: 0 ;
      opacity: 0;
      border:0

  .glyphicons
    padding: 0
    position: absolute
    font-size: 80%;
    right: 10px
    top: 5apx

.sort-order-option-box
    position: absolute;
    bottom: -150px;
    width: 200px;
    background-color: #747474;
    padding: 15px;
    transition: all .3s ease-out;

    &.show-sort
        bottom: 44px;

.sort-order-option-item
    color: white
    padding: 5px;
    padding-bottom: 15px;
    font-weight: 200;




.limit-location-screen

    .view-places-button
        position: absolute;
        width: 102px
        height: 44px;
        right: 5px;
        bottom: 0px;
        background-image: url("img/explore/view-places.png");
        background-size: contain;
        background-repeat: no-repeat;


    .use-current-location
        position: absolute;
        width: 270px;
        height: 49px;
        background-image: url("img/explore/current-location.png");
        background-size: contain;
        background-repeat: no-repeat;
        top: 80px;
        left: 25px;

    .limit-search-location
        position: absolute;
        width: 270px;
        height: 49px;
        background-image: url("img/explore/search-location-blank.png");
        background-size: contain;
        background-repeat: no-repeat;
        top: 150px;
        left: 25px;

        input
            position: absolute;
            border: 0;
            background-color: rgba(255,255,255,0.2);
            font-size: 0.8em;
            width: 220px;
            left: 50px;
            top: 4px;
            height: 40px;



.suggest-a-place-screen
    .suggest-a-place-form
        width: 320px;
        height: 600px;
        position: absolute;
        top: 100px;
        background-image: url("img/suggest-a-place.png");
        background-size: contain;
        background-repeat: no-repeat;
    .submit-suggestion-button
        width: 95px;
        height: 44px;
        position: absolute;
        bottom: 0px;
        right: 0;
        background-image: url("img/submit-suggestion-button.png");
        background-size: contain;
        background-repeat: no-repeat;

    input
        background-color: #e5dfd0;
        border: none;
        font-size: 1.2em;
        font-weight: 200;

#input-title
    position: absolute;
    width: 270px;
    height: 40px;
    top: 173px;
    left: 25px;

#input-address
    position: absolute;
    top: 261px;
    left: 25px;
    width: 270px;
    height: 40px;



#input-city
    position: absolute;
    top: 349px;
    left: 25px;
    width: 154px;
    height: 40px;




#input-zip
    position: absolute;
    top: 349px;
    left: 203px;
    width: 95px;
    height: 40px;


#input-submitter
    position: absolute;
    top: 435px;
    left: 25px;
    width: 270px;
    height: 40px;



// ========================================
// EXPLORE SCREEN
// ========================================
.explore-screen
  transition: all 1s
  opacity: 1.0
  //&.v-leave
  //  opacity: 0.0
  //&.v-enter
  //  opacity: 0.0

  .content
      padding-top: 88px;

  li
    position: relative

  .art-cell
    background-color: #dcf0f2 !important;

  .history-cell
    background-color: #f6e2e2 !important;

  .science-cell
    background-color: #f7e9c9 !important;


  .table-view-divider
    height: 44px
    padding-top:10px
    background-color: #edebe1;
    font-size: 0.7em;
    padding-left: 50px;
    color: #340000;
    .table-view_divider-icon
        position: absolute;
        width: 40px;
        height: 40px;
        left: 0;
        top: 2px;

  .explore-select-all
    font-style: italic;

  .table-view-cell
    font-size: 13px
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px;
    padding-top: 10px;
    padding-left: 65px;
    transition: all 0.3s ease;
    opacity: 1.0
    height: 38px;
    position: relative;
    color: #666
    background-color: #edebe1;
    font-size: 0.7em;

    &.hide
      height: 0;
      padding-top: 0 ;
      padding-bottom: 0 ;
      border:0

  .checkmark-icon
      display: block;
      position: absolute;
      top: 12px;
      right: 18px;
      width: 21px;
      height: 18px;
      background-image: url("img/explore/checkmark-false@2x.png");
      background-repeat: no-repeat;
      background-size: contain;

      &.check
        background-image: url("img/explore/checkmark-true@2x.png");




  .glyphicons
    padding: 0
    position: absolute
    right: 10px
    top: 2px

  //bottom bar
  .locate-btn
    img: "img/explore/locate-btn.png"
    absolute: right 10px top 8px
    &:active
      top: 9px;






// ========================================
// LOCATION DETAIL SCREEN
// ========================================

.location-screen
  transition: all 1s
  opacity: 1.0
  //&.v-leave
  ///  opacity: 0.0
  //&.v-enter
  //  opacity: 0.0



  .add-to-tours-detail-btn
      position: absolute
      width: 44px
      height: 44px
      left: 0;
      bottom: 0;
      background-image: url("img/add-tour-detail.png");
      background-repeat: no-repeat;
      background-size: contain;


  .images

    background: #777
    size: 100% 140px
    overflow: hidden
    img

      &.icon-photo
        transform: translateY(-25%)
        width: 320px;

      &.icon-preview
        transform: scale(0.85) translateY(-50px) translateX(30px)
        width: 280px
        height: 280px

  .info
      padding:20px;
      overflow:scroll;
      min-height: 340px;
      padding-bottom: 20px;

    h1
      font-size: 1em
      color: #544A41
    p
      font-size: 0.75em
      line-height: 1.4em
      color: #544A41



    .featured-text
        font-style: italic;
        font-size: 0.9em;
        font-weight: 500;

    .social-icons
      margin-top: 65px;
      text-align: center;
      img
          display: inline-block;
          width: 40px;

    .info-box

      width: 100%
      background: #DBD7CA
      border-radius: 3px
      //box-shadow:  0 -1px 1px #544A41;//, inset 0 -1px 1px rgba(0,0,0,0.5);
      box-shadow:  inset 0px 1px 2px 2px rgba(84, 74, 65, 0.1);//, inset 0 -1px 1px rgba(0,0,0,0.5);
      margin: auto
      margin-top: 20px

      img
          width: 50px;
          position: absolute;
          margin: 5px;
          margin-top: 10px;

      span:before
        color: #F4CD6F
        padding-left: 10px
        font-size: 3em


      address
        font-size: .7em;
        line-height: 1.2em;
        padding: 1em;
        margin-left: 60px;
        color: #544a41;
        display: block;
        width: 225px;
        padding-left: 0;
        padding-right: 5px;
        line-height: 1.4;
        overflow: hidden

    .contact-info
            position: relative;

    .phone-box

      padding-top: 19px;
      height: 40px
      width: 135px
      position: absolute;
      color: #544A41;
      background: #DBD7CA
      border-radius: 3px
      box-shadow:  inset 0px 1px 2px 2px rgba(84, 74, 65, 0.1);//, inset 0 -1px 1px rgba(0,0,0,0.5);
      margin-top: 15px;
      right: 0;
      margin-right: 1em;
      img
          position: absolute;
          width: 28px;
          top:6px;
          left: 5px;
      p
          font-size: .9em;
          position: absolute;
          right: 10px;
          top: 10px;
          letter-spacing: -1px;

    .web-box
        left: 0;
        margin-left: 1em;
        p
            left: 50px


.map-widget
  size: 100% 100%;


.leaflet-popup-close-button
    display: none;


// ========================================
// MAP SCREEN
// ========================================


.map-screen
    size: 100% 100%

.sort-button
    width: 40px;
    height: 44px;
    position: absolute;
    top: 0px;
    left: 5px;
    background-image: url("img/sort-list.png");
    background-repeat: no-repeat;
    background-size: contain;

.toggle-map2list
    width: 115px;
    height: 44px;
    position: absolute;
    top: 0px;
    left: 105px;
    background-image: url("img/toggle-map2list.png");
    background-repeat: no-repeat;
    background-size: contain;


.toggle-list2map
    width: 115px;
    height: 44px;
    position: absolute;
    top: 0px;
    left: 105px;
    background-image: url("img/toggle-list2map.png");
    background-repeat: no-repeat;
    background-size: contain;




// ========================================
// SEARCH SCREEN
// ========================================

.spinner
    display: block
    margin: auto;
    width: 70px;
    margin-top: 190px


.spinner-bg
    position: absolute
    width: 100%
    height: 100%
    background-color: rgba(0,0,0,0.3);


.thankyou-screen
  .content
    padding: 20px;
    padding-right: 20px;
    padding-top: 104px;


.search-screen
  .content
    padding: 20px;
    padding-right: 20px;
    padding-top: 44px;

    button
      font-size: 1em

  .search-bg
      position: absolute
      left: 0;
      top: 80px;
      width: 320px;
      height:63px;

   input
       position: absolute
       width: 240px;
       height: 85px;
       background: none;
       border:none;
       top: 86px;
       width: 250x;
       padding: 0;
       padding-left:1em;
       height: 50px;
       left: 20px;
       width: 220px;







    button
        position: relative;
        left: 5px;
        left: -4px;
        height: 45px;
        top: 44px;
        width: 53px;
        opacity: 0;


  .result-view
    position: absolute;
    margin-top: 150px
    width: 100%
    text-align: center

  .btn_search
    absolute top 60px right 20px
    size: 50px
    padding-left: 15px
    font-size: 1em
    background-color: rgba(0,0,0,0)




// ========================================
// SEARCH SCREEN
// ========================================


.featured-screen
    .content
        padding-top: 88px;




.add-to-tour-overlay
    font-size: .8em;
    position: absolute;
    z-index: 500;
    width: 280px;
    left: 20px;
    top: 150px;
    border-radius: 10px;
    background-color: #f9f9f1;
    border: 1px solid #434037;
    padding: 20px;
    box-shadow: 0 0 10px 2px #aaa;
    transition: all 0.2s ease-out;
    opacity: 1.0
    transform: scale(1);

    &.v-leave
        opacity: 0.0
        //transform: scale(2);
        transform: translateY(200px);

    &.v-enter
        opacity: 0.0
        transform: scale(2);

    ul
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
    li
        list-style: none;
        font-weight: 500;
        margin: 0;
        padding:0;
        height: 40px;
        border-bottom: dashed 1px #ccc;
        position: relative;
        //border-top: dashed 1px #ccc;

    .tour-icon
        position: absolute;
        background-image: url("img/tour-icon.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 40px;
        height: 40px;
        left: 29px;

    .add-to-tour-title
        padding-left: 35px;
        padding-top:10px;
        text-transform: capitalize;

    .add-new-tour-icon
        position: absolute;
        background-image: url("img/add-new-tour.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 32px;
        height: 32px;
        left: 4px;
        top: 5px;

    .add-to-tour-create-title
        padding-left: 35px;
        padding-top:10px;

    .add-tour-checkbox
        position: absolute;
        background-image: url("img/checkbox-empty.png");
        background-repeat: no-repeat;
        background-size: contain;
        top: 8px;
        width: 28px;
        height: 25px;

    .add-tour-checkmark
        position: absolute;
        background-image: url("img/checkbox-checked.png");
        background-repeat: no-repeat;
        background-size: contain;
        top: 8px;

        width: 28px;
        height: 25px;



.mytours-screen
    .content
        padding-top: 70px;

    .table-view-cell
        padding-left: 45px;
        font-weight: 300;
        text-transform: capitalize;
        color: #796d5f;

        .table-cell-marker
            position: absolute
            height: 25px;
            width: 25px;
            left:3px;
            top:7px;;

        &.tour-item-cell
            padding-left:1em;
            font-size: 12px
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 8px;
            padding-top: 10px;
            padding-left: 33px;
            padding-right: 60px
            opacity: 1.0
            height: 40px;
            position: relative;
            color: #666
            background-color: #eeece2;
            opacity: 1.0;
            //transition: transform 2s linear 1s;
            //transform: scale3d(1,1,1);
            transition: height .6s, padding .5s, opacity .6s
            &.v-enter
              height: 0;
              padding: 0;
              //transform: scale3d(1,0,1);
              opacity: 0.0
            &.v-leave
              //transform: scale3d(1,0,1);
              height: 0;
              padding: 0;
              opacity: 0.0




        .distance-text
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 11px;
            opacity: .3;



        img
            width: 40px;
            padding: 0;
            margin:0;
            position: absolute;
            top: 0;
            left: 0px;


.tours-edit-link
    padding: 1em;

.add-tour-overlay
    font-size: .8em;
    position: absolute;
    z-index: 500;
    width: 280px;
    left: 20px;
    top: 150px;
    border-radius: 10px;
    background-color: #f9f9f1;
    border: 1px solid #434037;
    padding: 20px;
    box-shadow: 0 0 10px 2px #aaa;
    transition: all 0.2s ease-out;
    opacity: 1.0
    transform: scale(1);

    &.v-leave
        opacity: 0.0
        //transform: scale(2);
        transform: translateY(200px);

    &.v-enter
        opacity: 0.0
        transform: scale(2);

.add-tour-color-choices
    padding-bottom: 20px;
    display : flex;
    justify-content: space-between;

.add-tour-color-choice
    border: 0;
    border-radius: 2px;
    //size: 27px 30px;
    width: 30px;
    height: 30px;
    max-width: 27px;
    padding: 0;


.add-tour-buttom-bar
    width: 55px;
    height: 44px;
    position: absolute;
    bottom:2px;
    right:3px;


.add-tour-color-choice.selected
    border: 2px solid #fff;


.tour-form-buttom
    font-size: 1.0em;



.leaflet-popup.science
    .leaflet-popup-content-wrapper
        background-color: #fcf1d6
    .leaflet-popup-tip
       border-top: 10px solid #fcf1d6

.leaflet-popup.art
    .leaflet-popup-content-wrapper
        background-color: #dcf0f2
    .leaflet-popup-tip
        border-top: 10px solid #dcf0f2



.leaflet-popup.history
    .leaflet-popup-content-wrapper
        background-color: #f6e2e2
    .leaflet-popup-tip
        border-top: 10px solid #f6e2e2

.leaflet-popup-content
    position: relative;
    padding: 5px;
    padding-left: 35px;
    h1
        padding: 2px;
        margin:0;
        font-size: 1em;
        line-height: 1;
        color: #564d44;
    a
        color: #564d44;

    .route-btn
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        left: -3px;
        top: 5px;
        background-size: contain;
        background-repeat: none;
        &.art
            background-image: url("img/nav-art.png");

        &.history
            background-image: url("img/nav-history.png");
        &.science
            background-image: url("img/nav-science.png");
        &.featured
            background-image: url("img/nav-featured.png");





.edit-tour-btn
    //background-color: #f00;
    background-image: url('img/edit-brown.png');
    background-size: contain;
    background-repeat: none;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0px;
    top: 2px;;

    transition: all 1s;
    transform: translate3D(30,0,0);


    &.v-enter
        transform: translate3D(50px,0,0);
    &.v-leave
        transform: translate3D(50px,0,0);



.tour-item-remove-btn
    background-color: #f00;
    background-image: url('img/remove-circle.png');
    background-size: contain;
    width: 26px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 5px;

    transition: all 1s;
    transform: translate3D(30,0,0);


    &.v-enter
        transform: translate3D(50px,0,0);
    &.v-leave
        transform: translate3D(50px,0,0);



.mytours-screen .table-view-cell .distance-text
    transition: all 1s;
    transform: translate3D(30,0,0);


    &.v-enter
        transform: translate3D(50px,0,0);
    &.v-leave
        transform: translate3D(50px,0,0);

.edit-buttom-bar
    width: 55px;
    height: 44px;
    position: absolute;
    bottom:4px;
    right:3px;


ul
  background-color: #f0eee5


.edit-tour-delete-circle
    background-image: url('img/delete-circle.png');
    background-size: contain;
    width: 23px;
    height: 23px;
    position: absolute;
    right: 16px;
    top: 17px;


.add-tour-overlay input
  padding-left:6px;

.add-to-tour-overlay li
  background-color: #f9f9f1;

.limit-location-search-btn
  position: absolute;
  height: 48px;
  opacity: 0.01;


.featured-screen .content
  padding-top: 44px;



.featured-screen .content > .table-view:first-child
  margin:0
  padding: 0
  margin-top: 44px;


.featured-table-divider
  color: #564d44;
  background-image: url('img/table-header-bg.png');
  background-color: #cfc5b7;
  font-weight: 600;
  min-height: 44px;
  border: 0;
  margin: 0;
  padding: 0;
  padding-top: 11px;
  padding-left: 1em;
  font-weight: 700;


.featured-screen .table-view-cell
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 8px;
  padding-top: 10px;
  padding-left: 1em;
  background-color: #eeece2;


.featured-screen .table-view-cell a
  max-width: 220px;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 10px;




.distance-text
    position: absolute;
    right: 30px;
    top: 10px;
    font-size: 11px;
    opacity: .3;

.table-cell-plus-icon
    background-image: url("img/plus-icon.png")
    background-size: contain;
    position: absolute;
    right: -5px;
    top:0;
    height: 40px;
    width: 40px;

.table-cell-marker
    position: absolute
    height: 25px;
    left:3px;
    top:7px;

.featured-screen .table-view-cell.featured-tour-cell
  min-height: 44px;
  font-size: 13px;
  font-weight: 600;

  a
    max-width: 280px;

  .table-cell-marker
    top:6px;
    height: 28px

