@require 'lib/mixins.styl'
@require 'lib/css/ratchet.css'
@require 'lib/css/glyphicons.css'

@require 'lib/leaflet/leaflet.usermarker.css'


*
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-family: 'Open Sans', sans-serif;


._
    background-color: rgba(255,0,0, 0.3);
    border: 1px solid green;
    
input 
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text; 



.dca-marker
    opacity: 0.0;
    transition: opacity 1s;

.marker-fade-in
    opacity: 1.0;


.app-screen
  position: absolute;
  top: 0;
  z-index:0;
  transition: transform 0.6s ease-out, opacity 1s; 
  transform: translateX(0);
  opacity: 1.0
  &.v-leave 
      transform: translateX(-200px);
      opacity: 0.0
  &.v-enter
    transform: translateX(320px);
    opacity: 1.0


.app-screen > div
    z-index: 0;


body.phonegap-ios-7
  margin-top: 20px;
  

#app
  background-color: #000;
  position: absolute;
  top:0;
  left:0;
  size: 100% 100%
  &> div
    size: 100% 100%

.content
  background-color: #F0EEE5

.bar 
  background-color: #4D4D4F
  a
    color: #fff

.back-button
  min-width: 45px;
  min-height: 45px;
  padding-left: 10px;
  margin-left:-10px;

.header-logo
  img: "img/title.png"
  center-both()     

.glyphicons:before
  font-size: 24px
  position: relative

.glyphicons
  padding: 0
  padding-top: 10px

  
.screen-menu
    position: fixed;
    height: 44px;
    width: 100%;
    top: 44px;
    z-index: 5;
    overflow: hidden;

.screen-menu > .screen-menu-tabs
    position: absolute;
    top: 0px;
    height: 43px;
    width: 100%
    background-color: #7c6f62;
    z-index: 5;
    transition: all 0.5s ease-out;
    transition-delay: 0.5s;
    transform: translate3D(0,0,0);
    opacity: 1.0;

    &.v-enter
        transform: translate3d(0,-44px,0);
        opacity: 0.5;
    &.v-leave
        transform: translate3d(0,-44px,0);
        opacity: 0.5;


    .tab
        display: block;
        position: absolute;
        top:0;
        background-image: url("img/nav/home.png");
        background-size:contain;
        background-repeat: no-repeat;
        width: 80px;
        height: 44px;
        z-index: 6;

    .tab-home
        left: 0;
        background-image: url("img/nav/home.png");
        background-size:contain;
        background-repeat: no-repeat;

        &.tab-active
            background-image: url("img/nav/home-down.png");
        &:hover
            background-image: url("img/nav/home-down.png");
        &:active
            background-image: url("img/nav/home-down.png");


    .tab-explore
        left: 80px;
        background-image: url("img/nav/explore.png");
        background-size:contain;
        background-repeat: no-repeat;
        &.tab-active
            background-image: url("img/nav/explore-down.png");
        &:hover
            background-image: url("img/nav/explore-down.png");
        &:active
            background-image: url("img/nav/explore-down.png");

    .tab-tours
        left: 160px;
        background-image: url("img/nav/tours.png");
        background-size:contain;
        background-repeat: no-repeat;
        &.tab-active
            background-image: url("img/nav/tours-down.png");
        &:hover
            background-image: url("img/nav/tours-down.png");
        &:active
            background-image: url("img/nav/tours-down.png");

    .tab-featured
        left: 240px;
        background-image: url("img/nav/featured.png");
        background-size:contain;
        background-repeat: no-repeat;
        &.tab-active
            background-image: url("img/nav/featured-down.png");
        &:hover
            background-image: url("img/nav/featured-down.png");
        &:active
            background-image: url("img/nav/featured-down.png");


        


// ========================================
// HOME SCREEN
// ========================================

.home-screen


  .content
    //column with buttons on top, share box on bottom
    padding-top: 60px
    display:flex;
    flex-flow: column
    align-items: stretch;
    justify-content: stretch;


  .btn-layout
    padding-top: 10px
    display:flex;
    flex-flow: row
    justify-content: space-around;


  .btn-explore
    img: "img/home/explore.png"
  .btn-nearme
    img: "img/home/nearme.png"
  .btn-tours
    img: "img/home/mytours.png"
  .btn-featured
    img: "img/home/featured.png"



  .share-layout
    flex: auto
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px

  .sharing      
    background-color: #FDFCF9
    border-radius: 10px
    padding: 10px
    

    .share-title
      img: 'img/home/share-title.png'

    .share-buttons
      padding-top: 5px
      display:flex
      align-items: center
      justify-content: space-around

      .email
        img-btn: 'img/home/email.png'
      .facebook
        img-btn: 'img/home/facebook.png'
      .twitter
        img-btn: 'img/home/twitter.png'



  //bottom bar
  nav
    .help
      img: "img/help.png"
      relative: top 8px
      margin: auto



// ========================================
// LIST SCREEN
// ========================================

.location-list-screen
  transition: all 1s 
  opacity: 1.0
  
  .content
     padding-top: 88px;
  //&.v-leave 
  //  opacity: 0.0
  //&.v-enter
  //  opacity: 0.0 

  li
    position: relative

  .table-view-divider
    height: 44px
    padding-top:10px

  .table-view-cell 
    font-size: 13px
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px;
    padding-top: 10px;
    padding-left: 1em
    transition: all 0.3s ease;
    opacity: 1.0
    height: 40px;
    position: relative;
    color: #666
    background-color: #eeece2;

    a
        margin-left: 10px;
        text-overflow: ellipsis;
        max-width: 260px;

    .table-cell-plus-icon
        background-image: url("img/plus-icon.png")
        background-size: contain;
        position: absolute;
        right: 0;
        top:0;
        height: 40px;
        width: 40px;

    .table-cell-marker
        position: absolute
        height: 25px;
        left:3px;
        top:7px;;



    &.hide
      height: 0;
      padding: 0 ;
      opacity: 0;
      border:0
    
  .glyphicons
    padding: 0
    position: absolute
    font-size: 80%;
    right: 10px
    top: 5apx



.limit-location-screen

    .view-places-button
        position: absolute;
        width: 102px
        height: 44px;
        right: 5px;
        bottom: 0px;
        background-image: url("img/explore/view-places.png");
        background-size: contain;
        background-repeat: no-repeat;


    .use-current-location
        position: absolute;
        width: 270px;
        height: 49px;
        background-image: url("img/explore/current-location.png");
        background-size: contain;
        background-repeat: no-repeat;
        top: 80px;
        left: 25px;

    .limit-search-location
        position: absolute;
        width: 270px;
        height: 49px;
        background-image: url("img/explore/search-location-blank.png");
        background-size: contain;
        background-repeat: no-repeat;
        top: 150px;
        left: 25px;

        input
            position: absolute;
            border: 0;
            background-color: rgba(255,255,255,0.2);
            font-size: 0.8em;
            width: 220px;
            left: 50px;
            top: 4px;
            height: 40px;



.suggest-a-place-screen
    .suggest-a-place-form
        width: 320px;
        height: 600px;
        position: absolute;
        top: 100px;
        background-image: url("img/suggest-a-place.png");
        background-size: contain;
        background-repeat: no-repeat;
    .submit-suggestion-button
        width: 95px;
        height: 44px;
        position: absolute;
        bottom: 0px;
        right: 0;
        background-image: url("img/submit-suggestion-button.png");
        background-size: contain;
        background-repeat: no-repeat;

    input
        background-color: #e5dfd0;
        border: none;
        font-size: 1.2em;
        font-weight: 200;

#input-title 
    position: absolute;
    width: 270px;
    height: 40px;
    top: 173px;
    left: 25px;

#input-address
    position: absolute;
    top: 261px;
    left: 25px;
    width: 270px;
    height: 40px;



#input-city
    position: absolute;
    top: 349px;
    left: 25px;
    width: 154px;
    height: 40px;

    

    
#input-zip
    position: absolute;
    top: 349px;
    left: 203px;
    width: 95px;
    height: 40px;


#input-submitter
    position: absolute;
    top: 435px;
    left: 25px;    
    width: 270px;
    height: 40px;



// ========================================
// EXPLORE SCREEN
// ========================================
.explore-screen
  transition: all 1s 
  opacity: 1.0
  //&.v-leave 
  //  opacity: 0.0
  //&.v-enter
  //  opacity: 0.0 

  .content
      padding-top: 88px;

  li
    position: relative

  .art-cell
    background-color: #dcf0f2 !important;

  .history-cell
    background-color: #f6e2e2 !important;

  .science-cell
    background-color: #f7e9c9 !important;


  .table-view-divider
    height: 44px
    padding-top:10px
    background-color: #edebe1;
    font-size: 0.7em;
    padding-left: 50px;
    color: #340000;
    .table-view_divider-icon
        position: absolute;
        width: 40px;
        height: 40px;
        left: 0;
        top: 2px;

  .explore-select-all
    font-style: italic;

  .table-view-cell 
    font-size: 13px
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px;
    padding-top: 10px;
    padding-left: 65px;
    transition: all 0.3s ease;
    opacity: 1.0
    height: 38px;
    position: relative;
    color: #666
    background-color: #edebe1;
    font-size: 0.7em;

    &.hide
      height: 0;
      padding-top: 0 ;
      padding-bottom: 0 ;
      border:0

  .checkmark-icon
      display: block;
      position: absolute;
      top: 12px;
      right: 18px;
      width: 21px;
      height: 18px;
      background-image: url("img/explore/checkmark-false@2x.png");
      background-repeat: no-repeat;
      background-size: contain;

      &.check
        background-image: url("img/explore/checkmark-true@2x.png");




  .glyphicons
    padding: 0
    position: absolute
    right: 10px
    top: 2px

  //bottom bar
  .locate-btn
    img: "img/explore/locate-btn.png"
    absolute: right 10px top 8px
    &:active
      top: 9px;
      



    

// ========================================
// LOCATION DETAIL SCREEN
// ========================================  

.location-screen
  transition: all 1s 
  opacity: 1.0
  //&.v-leave 
  ///  opacity: 0.0
  //&.v-enter
  //  opacity: 0.0 

  .images
    
    background: #777
    size: 100% 140px
    overflow: hidden
    img

      &.icon-photo
        transform: translateY(-25%) 
        width: 320px;

      &.icon-preview
        transform: translateY(-35px) translateX(30px)
        width: 280px
        height: 280px

  .info
    padding:1em

    h1
      font-size: 1em
      color: #544A41
    p
      font-size: 0.75em
      line-height: 1.4em
      color: #544A41

    .info-box
      size: 100% 80px
      background: #DBD7CA
      border-radius: 4px
      box-shadow:  0 -1px 1px #544A41;//, inset 0 -1px 1px rgba(0,0,0,0.5);
      margin: auto
      margin-top: 20px

      span:before
        color: #F4CD6F
        padding-left: 10px
        font-size:
          3em
      address
        font-size: .7em
        line-height: 1.2em
        padding: 1em
        margin-left: 5em
        color: #544A41


.map-widget
  size: 100% 100%;


.leaflet-popup-close-button
    display: none;


// ========================================
// MAP SCREEN
// ======================================== 


.map-screen
    size: 100% 100%

.toggle-map2list
    width: 115px;
    height: 44px;
    position: absolute;
    top: 0px;
    left: 105px;
    background-image: url("img/toggle-map2list.png");
    background-repeat: no-repeat;
    background-size: contain;


.toggle-list2map
    width: 115px;
    height: 44px;
    position: absolute;
    top: 0px;
    left: 105px;
    background-image: url("img/toggle-list2map.png");
    background-repeat: no-repeat;
    background-size: contain;




// ========================================
// SEARCH SCREEN
// ======================================== 

.spinner
    display: block
    margin: auto;
    width: 70px;
    margin-top: 190px


.spinner-bg
    position: absolute
    width: 100%
    height: 100%
    background-color: rgba(0,0,0,0.3);


.thankyou-screen
  .content
    padding: 20px;
    padding-right: 20px;
    padding-top: 104px;


.search-screen
  .content
    padding: 20px;
    padding-right: 20px;
    padding-top: 104px;

    button
      font-size: 1em


  .result-view
    position: absolute;
    margin-top: 150px
    width: 100%
    text-align: center

  .btn_search
    absolute top 60px right 20px
    size: 50px
    padding-left: 15px
    font-size: 1em
    background-color: rgba(0,0,0,0)




// ========================================
// SEARCH SCREEN
// ======================================== 


.featured-screen
    .content
        padding-top: 88px;




.add-to-tour-overlay
    font-size: .8em;
    position: absolute;
    z-index: 500;
    width: 280px;
    left: 20px;
    top: 150px;
    border-radius: 10px;
    background-color: #f9f9f1;
    border: 1px solid #434037;
    padding: 20px;
    box-shadow: 0 0 10px 2px #aaa;
    transition: all 0.2s ease-out;
    opacity: 1.0
    transform: scale(1);

    &.v-leave 
        opacity: 0.0
        //transform: scale(2);
        transform: translateY(200px);
        
    &.v-enter
        opacity: 0.0 
        transform: scale(2);

    ul
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
    li
        list-style: none;
        font-weight: 500;
        margin: 0;
        padding:0;
        height: 40px;
        border-bottom: dashed 1px #ccc;
        position: relative;
        //border-top: dashed 1px #ccc;

    .tour-icon
        position: absolute;
        background-image: url("img/tour-icon.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 40px;
        height: 40px;
        left: 29px;

    .add-to-tour-title
        padding-left: 65px;
        padding-top:10px;


    .add-tour-checkbox
        position: absolute;
        background-image: url("img/checkbox-empty.png");
        background-repeat: no-repeat;
        background-size: contain;
        top: 8px;
        width: 28px;
        height: 25px;

    .add-tour-checkmark
        position: absolute;
        background-image: url("img/checkbox-checked.png");
        background-repeat: no-repeat;
        background-size: contain;
        top: 8px;

        width: 28px;
        height: 25px;



.mytours-screen
    .content
        padding-top: 88px;


.add-tour-overlay
    font-size: .8em;
    position: absolute;
    z-index: 500;
    width: 280px;
    left: 20px;
    top: 150px;
    border-radius: 10px;
    background-color: #f9f9f1;
    border: 1px solid #434037;
    padding: 20px;
    box-shadow: 0 0 10px 2px #aaa;
    transition: all 0.2s ease-out;
    opacity: 1.0
    transform: scale(1);

    &.v-leave 
        opacity: 0.0
        //transform: scale(2);
        transform: translateY(200px);
        
    &.v-enter
        opacity: 0.0 
        transform: scale(2);

.add-tour-color-choices
    padding-bottom: 20px;
    display : flex;
    justify-content: space-between;

.add-tour-color-choice
    border: 0;
    border-radius: 2px;
    size: 27px 30px;
    max-width: 27px;



.add-tour-color-choice.selected
    border: 2px solid #fff;


.tour-form-buttom
    font-size: 1.0em;
